.section {
    margin-bottom: 80px;

    & > * ~ * {
        margin-top: 70px;
    }

    &__title {
        font-size: 2rem;
        font-weight: 900;
        text-transform: capitalize;
        text-align: center;
        color: rgb(116, 111, 111);
    }
}